.fullWrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.registerWrapper {
  display: flex;
  justify-content: center;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.leftSection {
  flex: 1;
  background: #4b0082;
  color: white;
  padding: 30px;
  text-align: center;
}

.leftSection .logo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.imagePlaceholder img {
  width: 80%;
  height: 80%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.leftSection h3 {
  font-weight: 600;
  margin: 10px 0;
}

.leftSection p {
  font-size: 14px;
  opacity: 0.9;
}

.rightSection {
  flex: 1;
  padding: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form label {
  font-size: 14px;
  font-weight: 500;
}

.form label span {
  color: red;
}

.form input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.errorText {
  color: red;
  font-size: 12px;
}

.registerBtn {
  background: #4b0082;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  width: 40%;
}

.registerBtn:hover {
  background: #3a006b;
}

small {
  display: block;
  margin-top: 10px;
  font-size: 12px;
}
