.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #4B0082;
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.icon-wrapper {
  cursor: pointer;
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.right-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon {
  cursor: pointer;
}
